<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>Contact</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.contact }}</a></li>
                    <li><a href="http://newcastle.edu.au/cs4s" target="_blank">newcastle.edu.au/cs4s</a></li>
                </ul>      
            </div>
        </div>
    </div>
</footer>
